$button-color: rgba(199, 199, 199, 0.35);
$button-hover-color: rgba(199, 199, 199, 0.8);


html {
  font-family:  "Courier New", monospace;
  font-weight: 400;
  background-color: $button-color;
}

body {
  background-color: rgba(255, 255, 255, .65); 
  width: 80%;
  margin: 0 auto;
  
  margin-top: 20px;
  padding: 20px;
}

.row {
	width: 100%;
	
	&.center {
		text-align: center;	
	}
	
	&.margins {
		margin: 40px 0;	
	}
}


.active {
	font-weight: 800;
}

.button {
	cursor: pointer;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	vertical-align: top;
	background-color: $button-color;
	border-radius: 30px;
	margin-bottom: 20px;
	transition: all 250ms ease-in-out;
	font-size: 1em;	
	line-height: 30px;

	&:hover {
		background-color: $button-hover-color;
	}
}

#power-button {
	padding-left: 1px;
	line-height: 28px;
}

.subtext {
	font-size: .8em;
	color: rgba(0, 0, 0, 0.46);
}

.button-wrapper {
	display: inline-block;
}

#refresh-button {
	float: right;
}

input[type="number"] {
	line-height: 1em;
	font-size: 3em;
	font-family: inherit;
	padding: 0px;
	text-align: right;
	border: none;
	outline: none;
	width: calc(2em);
	background-color: transparent;
}

#ideal-temp {
	display: inline-block;
	position: relative;
	margin-right: 90px;
	.wrapper {
		&:after {
			position: absolute;
			font-size: 1.15em;
			top: 0;
			right: 63px;
			content: "\00b0 f";
			background-color: #F7F7F7; 
			height: 3em;
		}
		
		> .subtext {
			font-size: 1em;	
			margin-left: -10px;
		}
		
		.temp-buttons {
			width: 30px;
			position: absolute;
			right: -60px;
			top: -28px;
			div {
				font-size: 1.35em;	
				vertical-align: middle;
				
				&:first-child {
					margin-bottom: 10px;
				}
				
				
			}
		}
	}
}

#idea-temp-date .content{
	margin-left: -20px;
}	